@import "theme";

$black-1: #222;
$black-2: rgb(135, 140, 146);
$black-3: #adadad;
$black-4: #f2f2f2;
$green-1: #007748;
$green-2: #3ec988;
$green-3: #e3f6ed;
$primary-color: map-get($mat-primary-palette, 500);
$accent-color: map-get($mat-accent-palette, 500, 500);
