$mat-primary-palette: (
  50: #e0fcf1,
  100: #b3f7dd,
  200: #80f1c6,
  300: #4debaf,
  400: #26e79d,
  500: #00e38c,
  600: #00e084,
  700: #00dc79,
  800: #00d86f,
  900: #00d05c,
  A100: #f8fffb,
  A200: #c5ffdb,
  A400: #92ffbb,
  A700: #79ffab,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-accent-palette: (
  50: #e5e5e5,
  100: #bdbdbd,
  200: #929292,
  300: #666666,
  400: #454545,
  500: #242424,
  600: #202020,
  700: #1b1b1b,
  800: #161616,
  900: #0d0d0d,
  A100: #eb6969,
  A200: #e53c3c,
  A400: #ee0000,
  A700: #d40000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
