// General
@use "@angular/material" as mat;

// Imports
@import "mat-palettes";

// Theme
@include mat.core();
$primary-palette: mat.define-palette($mat-primary-palette, 500);
$accent-palette: mat.define-palette($mat-accent-palette, 500);

$theme: mat.define-light-theme($primary-palette, $accent-palette);
@include mat.all-component-themes($theme);

// Fonts
$typography: mat.define-typography-config(
  $font-family: sans-serif,
);
@include mat.core($typography);
