.mat-tab-nav-bar,
.mat-tab-header {
  height: 100% !important;
  border-bottom: none !important;

  .mat-tab-links {
    height: 100% !important;
  }

  .mat-tab-link {
    font-size: 1rem !important;
    height: 100% !important;
  }
}
