<div @fadeInOutAnimation class="main-container" fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center center"
      fxLayoutGap="36px">
  <div class="heading" fxLayout="column" fxLayoutGap="24px" fxLayoutAlign="center center">
    <mat-icon class="icon">location_on</mat-icon>
    <div>Yunex - Location tracking</div>
  </div>

  <a mat-flat-button class="-main" color="primary" routerLink="/map">
    <span fxLayout="row"
          fxLayoutGap="8px" fxLayoutAlign="center center">
        <span>Try now</span>
        <mat-icon class="icon">arrow_forward</mat-icon>
    </span>
  </a>
</div>
